{%- if section.blocks.size > 0 -%}
  {{ 'section-collections-slider.min.css' | asset_url | stylesheet_tag }}

  {%- style -%}
    #shopify-section-{{ section.id }} .collections-slider__title {
      padding: {{ section.settings.desktop_item_gap | divided_by: 14.0 }}rem;
      padding-bottom: 0;
    }

    #shopify-section-{{ section.id }} .collections-slider__wrapper {
      column-gap: {{ section.settings.desktop_item_gap | divided_by: 14.0 }}rem;
      padding: {{ section.settings.desktop_item_gap | divided_by: 14.0 }}rem;
      scroll-padding: {{ section.settings.desktop_item_gap | divided_by: 14.0 }}rem;
    }

    #shopify-section-{{ section.id }} .collections-slider__item {
      height: {{ section.settings.desktop_item_height | divided_by: 14.0 }}rem;
      width: {{ section.settings.desktop_item_width | divided_by: 14.0 }}rem;
    }

    @media screen and (max-width: 768px) {
      #shopify-section-{{ section.id }} .collections-slider__title {
        margin-bottom: {{ section.settings.mobile_item_gap | divided_by: 14.0 }}rem;
      }

      #shopify-section-{{ section.id }} .collections-slider__wrapper {
        column-gap: {{ section.settings.mobile_item_gap | divided_by: 14.0 }}rem;
        padding: {{ section.settings.mobile_item_gap | divided_by: 14.0 }}rem;
        scroll-padding: {{ section.settings.mobile_item_gap | divided_by: 14.0 }}rem;
      }

      #shopify-section-{{ section.id }} .collections-slider__item {
        height: {{ section.settings.mobile_item_height | divided_by: 14.0 }}rem;
        width: {{ section.settings.mobile_item_width | divided_by: 14.0 }}rem;
      }
    }
  {%- endstyle -%}

  {%- if section.settings.section_title -%}
    <{{ section.settings.title_element }} class="collections-slider__title">
      {{- section.settings.section_title -}}
    </{{ section.settings.title_element }}>
  {%- endif -%}

  <div class="collections-slider__wrapper" data-slider-item-gap="{{ section.settings.desktop_item_gap }}">
    {%- for item in section.blocks -%}
      {%- if item.settings.collection -%}
        {%- assign collectionTitle = item.settings.title | default: item.settings.collection.title -%}
        {%- assign collectionImage = item.settings.image | default: item.settings.collection.image -%}

        <div class="collections-slider__item">
          <{{ section.settings.element }} class="collections-slider__item-title">
            {{- collectionTitle -}}
          </{{ section.settings.element }}>

          {%- if item.settings.btn_text -%}
            <a href="{{- item.settings.collection.url -}}" class="collections-slider__item-btn btn"{% if section.settings.new_tab_enable %} target="_blank"{% endif %}>
              {{- item.settings.btn_text -}}
            </a>
          {%- endif -%}

          <div class="collections-slider__item-image-wrapper">
            {% render 'lazy-img', class: 'collections-slider__item-image', img: collectionImage, alt: collectionTitle %}
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}

    <div class="collections-slider__slider-controls">
      <div class="collections-slider__arrow collections-slider__arrow--left collections-slider__arrow--hidden">
        {% render 'icon-arrow-to-right' %}
      </div>
      <div class="collections-slider__arrow collections-slider__arrow--right">
        {% render 'icon-arrow-to-right' %}
      </div>
    </div>
  </div>

  <script src="{{ 'section-collections-slider.min.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% schema %}
{
  "name": "Collections slider",
  "tag": "section",
  "class": "collections-slider",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section title"
    },
    {
      "type": "select",
      "id": "title_element",
      "label": "HTML element for section title",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "P"
        }
      ],
      "default": "h2"
    },
    {
      "type": "select",
      "id": "element",
      "label": "HTML element for collection titles",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "P"
        }
      ],
      "default": "h4"
    },
    {
      "type": "checkbox",
      "id": "new_tab_enable",
      "label": "Open the link in a new tab",
      "default": false
    },
    {
      "type": "header",
      "content": "Desktop layout"
    },
    {
      "type": "range",
      "id": "desktop_item_width",
      "label": "Item width",
      "unit": "px",
      "min": 100,
      "max": 500,
      "step": 20,
      "default": 360
    },
    {
      "type": "range",
      "id": "desktop_item_height",
      "label": "Item height",
      "unit": "px",
      "min": 200,
      "max": 800,
      "step": 50,
      "default": 500
    },
    {
      "type": "range",
      "id": "desktop_item_gap",
      "label": "Item gap",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 60
    },
    {
      "type": "header",
      "content": "Mobile layout"
    },
    {
      "type": "range",
      "id": "mobile_item_width",
      "label": "Item width",
      "unit": "px",
      "min": 150,
      "max": 300,
      "step": 10,
      "default": 250
    },
    {
      "type": "range",
      "id": "mobile_item_height",
      "label": "Item height",
      "unit": "px",
      "min": 200,
      "max": 800,
      "step": 50,
      "default": 350
    },
    {
      "type": "range",
      "id": "mobile_item_gap",
      "label": "Item gap",
      "unit": "px",
      "min": 0,
      "max": 50,
      "step": 2,
      "default": 16
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Collection image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button text",
          "default": "Shop Now"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collections slider"
    }
  ]
}
{% endschema %}
